<div class="contenedor">
  <div class="container-bars">
    <div class="bar">
      <div data-value="400" class="bar_x bar_x--cv"></div>
      <div class="bar_x bar_x--ingPro"></div>
      <div class="bar_x bar_x--ing"></div>
    </div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="container-months">
    <p>Enero</p>
    <p>Febrero</p>
    <p>Marzo</p>
    <p>Abril</p>
    <p>Mayo</p>
    <p>Junio</p>
    <p>Julio</p>
    <p>Agosto</p>
    <p>Septiembre</p>
    <p>Octubre</p>
    <p>Noviembre</p>
    <p>Diciembre</p>
  </div>
</div>